<!DOCTYPE html>
<html>


<style>

body {
font-family: sans-serif;
}

h1 {
margin: 0px 0px 0px 0px; 
padding: 1em;
font-size: 2.5rem;
background-color: rgb(11, 11, 197);
color: white; 
}



ul {
  font-size: 1.5rem;
list-style-type: none;
margin: 0;
padding: 1em; 
overflow: hidden; 
background-color: #7c7faf; 
}

li {
display: inline;
 
}

li a {
padding: 14px 16px;
color: white; 
}

li a:hover {
background-color: #280291;
}



h2 {
font-size: 2.5rem;
font-weight: bold; 
text-decoration: underline; 
}

h3{
font-size: 2.0rem;
font-weight: bold;
text-decoration: underline; 
}

h4 {
    font-size: 1.5rem;
    text-decoration: underline; 

}

p {
  font-size: 1.5rem; 
font-weight: bold; 

}

li {
font-size: 1.5rem;
font-weight: bold; 
}


iframe { 
  
  width: 800px;
  height: 700px; 
}

img {
float:bottom; 

}
</style>
